<meta http-equiv="refresh" content="0; URL=http://apps.facebook.com/dvdflex">

If your browser does not refresh, please go to the following URL:
<a href="http://apps.facebook.com/dvdflex">http://apps.facebook.com/dvdflex</a>